/* ----------------------------------
:: 1.0 Navbar
---------------------------------- */

.bg-light {
    transition: 750ms ease;
    background-color: transparent !important;
    box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0);
}

.bg-light.scrolled-um {
    background-color: #fff !important;
    box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.4);
}

.logo-nav {
    height: 85px;
    transition: 750ms ease;
}

.logo-nav.ln-pequeno {
    height: 45px;
}

.cardSc {
    height: 230px;
}






.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff!important;
    background-color: #45006a;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'proxima-nova-bold', sans-serif;
    padding: 6px 18px 6px 18px;
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff!important;
    background-color: #45006a;
}



/*
    color: rgba(69, 0, 106, 0.7)!important;
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(69, 0, 106, 1)!important;
}
*/





.container {
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}












/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #2098D1;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }




















.btn-outline-light:not(:disabled):not(.disabled).active, .btn-outline-light:not(:disabled):not(.disabled):active, .show>.btn-outline-light.dropdown-toggle {
    color: #fbd920;
    background-color: #ea5d87;
    border-color: #ea5d87;
}
.btn-outline-light {
    color: #ea5d87;
    font-family: 'proxima-nova-bold', sans-serif;
    font-size: 26px;
    line-height: 35px;
    background-color: #fbd920;
    border-color: #fbd920;
    border-radius: 0px;
    padding: 10px 20px;
}
.sc2 .btn-outline-light:hover {
    color: #fbd920;
    background-color: #ea5d87;
    border-color: #ea5d87;
}



.btn-outline-dark:not(:disabled):not(.disabled).active, .btn-outline-dark:not(:disabled):not(.disabled):active, .show>.btn-outline-dark.dropdown-toggle {
    color: #45006a;
    background-color: #fff;
    border-color: #45006a;
}
.btn-outline-dark {
    color: #fff;
    font-family: 'proxima-nova-bold', sans-serif;
    font-size: 26px;
    line-height: 35px;
    background-color: #45006a;
    border-color: #45006a;
    border-radius: 0px;
    padding: 10px 20px;
}
.sc6_2 .btn-outline-dark:hover {
    color: #45006a;
    background-color: #fff;
    border-color: #45006a;
}









.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
    color: #17af74;
    background-color: #fff;
    border-color: #fff;
}
.btn-outline-success {
    color: #fff;
    font-family: 'proxima-nova-bold', sans-serif;
    font-size: 26px;
    line-height: 35px;
    background-color: #17af74;
    border-color: #17af74;
    border-radius: 0px;
    padding: 10px 20px;
}
.sc5 .btn-outline-success:hover {
    color: #17af74;
    background-color: #fff;
    border-color: #fff;
}







.margin-text-sc1 {
    margin-bottom: 10%;
}

.font-sc1-title {
    font-family: 'proxima-nova-extrabold', sans-serif;
    font-size: 35px;
    line-height: 45px;
    color: #fff;
}

.font-sc1-text {
    font-family: 'proxima-nova-semibold', sans-serif;
    font-size: 25px;
    line-height: 30px;
    color: #fff;
}

@media screen and (max-width: 1200px) {
    .margin-text-sc1 {
        margin-bottom: 8%;
    }
    .logo-nav {
        height: 60px;
        transition: 750ms ease;
    }
}

@media screen and (max-width: 992px) {
    .margin-text-sc1 {
        margin-bottom: 5%;
    }
    .font-sc1-title {
        font-size: 30px;
        line-height: 40px;
    }
    .font-sc1-text {
        font-size: 20px;
        line-height: 25px;
    }
}
@media screen and (max-width: 768px) {
    .margin-text-sc1 {
        margin-bottom: 1%;
    }
    .font-sc1-title {
        font-size: 25px;
        line-height: 35px;
    }
    .font-sc1-text {
        font-size: 15px;
        line-height: 20px;
    }
    .logo-nav {
        height: 45px;
        transition: 750ms ease;
    }
    .carousel-item{
        height: 90vh;
    }
}

@media screen and (max-width: 576px) {
    .margin-text-sc1 {
        margin-bottom: 1%;
    }
    .font-sc1-title {
        font-size: 25px;
        line-height: 35px;
    }
    .font-sc1-text {
        font-size: 13px;
        line-height: 17px;
    }
}

@media screen and (min-width: 576px) {}

.bg-sc2 {
    background: url(../images/bg-sc-2.png) bottom no-repeat;
    background-size: cover;
    padding-bottom: 15%;
    width: 100%;
    display: block;
    left: 0;
}

.bg-sc5 {
    background: url(../images/bg-sc-5.png) bottom no-repeat;
    background-size: cover;
    padding-bottom: 15%;
    width: 100%;
    display: block;
    left: 0;
}

.sc2 {
    background-color: #45006a;
    padding: 60px 0;
    margin-bottom: -150px;
}

/**/

.traco {
    margin: 0 auto;
    width: 10%;
    border-bottom: 4px solid #f9da20;
}

.font-sc2-title {
    font-family: 'Secret-Recipe', sans-serif;
    font-size: 75px;
    line-height: 25px;
    color: #f9da20;
}

.font-sc2-subtitle {
    font-family: 'proxima-nova-bold', sans-serif;
    font-size: 40px;
    line-height: 30px;
    color: #fff;
}

.font-sc2-text {
    font-family: 'proxima-nova-thin', sans-serif;
    font-size: 22px;
    letter-spacing: 1.8px;
    line-height: 24px;
    color: #fff;
}

.font-sc2-title-card {
    font-family: 'Secret-Recipe', sans-serif;
    font-size: 45px;
    line-height: 40px;
    padding-top: 35px;
    margin-bottom: 0px;
    color: #f9da20;
}

.font-sc2-text-card {
    font-family: 'proxima-nova-semibold', sans-serif;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
}

.secao-footer {
    padding: 40px 0 20px 0;
    /*overflow: hidden;*/
    background-color: #12c5ec; 
    margin-top: 180px;
}

.secao-footer-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
}

a {
    color: #fff;
}

a:hover {
    opacity: .8;
    color: #fff;
}

.icons {
    font-size: 30px;
    text-align: right;
    cursor: pointer;
    padding: 5px;
    color: #fff;
}

.icons:hover {
    text-decoration: none;
    color: #f9da20;
}

.font-footer-col1 {
    font-family: 'proxima-nova-regular', sans-serif;
    font-size: 22px;
    letter-spacing: 1.8px;
    line-height: 30px;margin-top: -15px;
    color: rgb(255, 255, 255);
}
.font-footer-col1:hover a{
    font-family: 'proxima-nova-regular', sans-serif;
    font-size: 22px;
    letter-spacing: 1.8px;
    line-height: 30px;
    color: #f9da20;
}

.font-footer-col3_1 {
    font-family: 'proxima-nova-semibold', sans-serif;
    font-size: 22px;
    letter-spacing: 1.8px;
    line-height: 30px;
    color: #fff;
    margin-top: 20px;
}

.font-footer-col3_2 {
    font-family: 'proxima-nova-thin', sans-serif;
    font-size: 13px;
    letter-spacing: 1.8px;
    line-height: 15px;
    color: #fff;
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {
    .cardSc {
        height: 230px;
    }
    .sc2 {
        margin-bottom: -50px;
    }
}

@media screen and (max-width: 768px) {
    .secao-footer {
        padding: 40px 20px 20px 20px;
    }
    .cardSc {
        height: 280px;
    }
    /**/
    .font-sc2-title {
        font-size: 65px;
        line-height: 55px;
    }
    .font-sc2-subtitle {
        font-size: 35px;
        line-height: 30px;
        margin-top: -15px;
    }
    .font-sc2-title-card {
        font-size: 65px;
        line-height: 40px;
        padding-top: 35px;
    }
    .font-sc2-text-card {
        font-size: 26px;
        padding-top: 10px;
        line-height: 35px;
    }
}

@media screen and (max-width: 576px) {
    .sc2 {
        padding: 60px 20px;
    }
    /**/
    .cardSc {
        padding-top: 9%;
        margin-left: -20px;
        margin-right: -20px;
    }
    .font-sc2-title {
        font-size: 40px;
        line-height: 40px;
    }
    .font-sc2-subtitle {
        font-size: 26px;
        margin-bottom: -15px;
        /* margin-top: -20px; */
        line-height: 5px;
    }
    .font-sc2-text {
        font-size: 20px;
        letter-spacing: 1.8px;
        line-height: 25px;
    }
}

@media screen and (min-width: 576px) {}

.sc3 {
    background-color: #fff;
    padding: 60px 0;
}

.font-sc3-text01 {
    font-family: 'proxima-nova-bold', sans-serif;
    font-size: 100px;
    line-height: 35px;
    color: #41c0e9;
}

.font-sc3-text02 {
    font-family: 'Secret-Recipe', sans-serif;
    font-size: 75px;
    line-height: 25px;
    color: #fec655;
}

.font-sc3-text03 {
    font-family: 'proxima-nova-bold', sans-serif;
    font-size: 25px;
    line-height: 30px;
    color: #b1bbbc;
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {
    .sc3 {
        padding: 60px 20px;
    }
}

@media screen and (min-width: 576px) {}

.container-fluid-grid {
    margin-bottom: 0px!important;
}

.container-fluid-grid div {
    padding: 0!important;
}

.container-fluid-grid-item {
    position: relative;
    float: left;
    overflow: hidden;
}

.texto-sc3-home {
    cursor: pointer;
    background-size: cover!important;
    transition-duration: 1s;
    font-family: Arial;
    text-align: center;
    color: white;
    opacity: 0;
    background-color: rgba(37, 91, 206, 0.7);
}

.texto-sc3-home2 {
    cursor: pointer;
    background-size: cover!important;
    transition-duration: 1s;
    font-family: Arial;
    text-align: center;
    color: white;
    opacity: 0;
    background-color: #de335898;
}

.texto-sc3-home3 {
    cursor: pointer;
    background-size: cover!important;
    transition-duration: 1s;
    font-family: Arial;
    text-align: center;
    color: white;
    opacity: 0;
    background-color: #f7c00a8f;
}

.texto-sc3-home4 {
    cursor: pointer;
    background-size: cover!important;
    transition-duration: 1s;
    font-family: Arial;
    text-align: center;
    color: white;
    opacity: 0;
    background-color: #0c9d5c7e;
}

.imagem-sc3-home:hover .texto-sc3-home {
    opacity: 1;
    transition-duration: 1.5s;
}

.imagem-sc3-home2:hover .texto-sc3-home2 {
    opacity: 1;
    transition-duration: 1.5s;
}

.imagem-sc3-home3:hover .texto-sc3-home3 {
    opacity: 1;
    transition-duration: 1.5s;
}

.imagem-sc3-home4:hover .texto-sc3-home4 {
    opacity: 1;
    transition-duration: 1.5s;
}

@media screen and (max-width: 576px) {
    .imagem-sc3-home:hover .texto-sc3-home {
        opacity: 1;
        transition-duration: .5s;
    }
    .imagem-sc3-home2:hover .texto-sc3-home2 {
        opacity: 1;
        transition-duration: .5s;
    }
    .imagem-sc3-home3:hover .texto-sc3-home3 {
        opacity: 1;
        transition-duration: .5s;
    }
    .imagem-sc3-home4:hover .texto-sc3-home4 {
        opacity: 1;
        transition-duration: .5s;
    }
}

@font-face {
    font-family: 'proxima-nova-extrabold';
    src: url('../fonts/proxima-nova-extrabold.ttf') format('truetype'), url('../fonts/proxima-nova-extrabold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova-bold';
    src: url('../fonts/proxima-nova-bold.ttf') format('truetype'), url('../fonts/proxima-nova-bold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova-semibold';
    src: url('../fonts/proxima-nova-semibold.ttf') format('truetype'), url('../fonts/proxima-nova-semibold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova-thin';
    src: url('../fonts/proxima-nova-thin.ttf') format('truetype'), url('../fonts/proxima-nova-thin.otf') format('opentype');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'proxima-nova-light';
    src: url('../fonts/proxima-nova-light.ttf') format('truetype'), url('../fonts/proxima-nova-light.otf') format('opentype');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'proxima-nova-regular';
    src: url('../fonts/proxima-nova-regular.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Secret-Recipe';
    src: url('../fonts/Secret-Recipe.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
}